<form>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="product">Product</label>
        <select #product (change)="findPurchaseOrder()" class="form-control" [disabled]="isEdit" [(ngModel)]="purchaseOrder.ProductId" name="product">
          <option *ngFor="let product of products" value= {{product.Id}}>
            {{product.Description}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="company">Company</label>
        <select class="form-control" [disabled]="isEdit" [(ngModel)]="purchaseOrder.CompanyId" name="company">
          <option *ngFor="let company of companies" value= {{company.Id}}>
            {{company.Name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="unit">Unit</label>
        <select class="form-control" (change)="findPurchaseOrder()" [disabled]="isEdit" [(ngModel)]="purchaseOrder.UnitId" name="unit" placeholder="Unit">
          <option *ngFor="let unit of units" value= {{unit.Id}}>
            {{unit.Description}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="code">Per Unit Price</label>
        <input type="text" class="form-control" number-only [(ngModel)]="purchaseOrder.PerUnitPrice" name="perUnitPrice" placeholder="Per Unit Price"
          id="perUnitPrice">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="salesPrice">Sales Price</label>
        <input type="text" class="form-control" number-only [(ngModel)]="purchaseOrder.SalesPrice" name="salesPrice" placeholder="Sales Price"
          id="salesPrice">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="reSalesPrice">Re Sales Price</label>
        <input type="text" class="form-control" number-only [(ngModel)]="purchaseOrder.ReSalesPrice" name="reSalesPrice" placeholder="Re Sales Price"
          id="reSalesPrice">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="openingStock">Opening Stock</label>
        <input type="text" class="form-control" number-only [disabled]="isEdit" (blur)="purchaseOrder.CurrentStock=purchaseOrder.OpeningStock" [disabled]="isAdd" [(ngModel)]="purchaseOrder.OpeningStock" name="openingStock" placeholder="Opening Stock"
          id="openingStock">
      </div>
    </div>
    <div class="col-md-2" *ngIf="oldOrder">
      <div class="form-group">
        <label for="oldStock">Old Stock</label>
        <input type="text" class="form-control" disabled="disabled" [(ngModel)]="oldOrder.CurrentStock" name="closingStock" placeholder="Closing Stock"
          id="closingStock">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="CurrentStock">Current Stock</label>
        
        <input type="text" class="form-control" disabled="disabled" [(ngModel)]="purchaseOrder.CurrentStock" name="currentStock" placeholder="Current Stock"
          id="currentStock">
      </div>
    </div>  
    <div class="col-md-2">
      <div class="form-group">
        <label for="sGst">S GST</label>
        <input type="text" class="form-control" number-only (blur)="purchaseOrder.Cgst=purchaseOrder.Sgst"  [(ngModel)]="purchaseOrder.Sgst" name="sGst" placeholder="S GST" id="sGst">
      </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
          <label for="cGst">C GST</label>
          <input type="text" class="form-control" number-only [(ngModel)]="purchaseOrder.Cgst" name="cGst" placeholder="C GST" id="cGst">
        </div>
      </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="onSave()">Submit</button>
</form>