<div class="container">
  <div class="col-md-6">
    <div class="form-group col-md-3">
      <input class="btn btn-default" [disabled]="billInfo.SalesOrders?.length==0" (click)="saveBill()" type="button" name="button"
        value="Save" />
    </div>
    <div class="form-group col-md-3">
      <input class="btn btn-default" [disabled]="billInfo.SalesOrders?.length==0" (click)="SaveAndprintBill()" type="button" name="button"
        value="Print & Save" />
    </div>
    <div class="form-group col-md-3">
      <input class="btn btn-default" [disabled]="billInfo.SalesOrders?.length==0" (click)="cancelBill()" type="button" name="button"
        value="Cancel" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div name="form">
              <div class="row text-center">
                <span style="font-size:18;"><strong>MITHUN STORES</strong></span><br/> R.C MATHA KOVIL OPP<br/> ALANGULAM
                - 627851
              </div>
              <div class="table-responsive">
                <table class="table table-condensed">
                  <tbody class="header">
                    <tr>
                      <td>GST No:</td>
                      <td>33BRYPR9136C1ZA</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Phone No:</td>
                      <td>9842072602</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Date:</td>
                      <td>{{currentDate |async | date:'d/M/yy hh:mm:ss' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <form class="well span8 billing-form" role="form" #f="ngForm" name="form">
                <div class="row">
                  <div class="form-group col-md-4">
                    <input class="form-control" maxlength="50" placeholder="Name" type="text" name="name" [(ngModel)]="billInfo.CompanyName">
                    <input class="form-control" placeholder="Mobile" (blur)="searchCustomer()" type="text" name="mobile" maxlength="10" [(ngModel)]="billInfo.Mobile">
                    <input class="form-control" maxlength="50" placeholder="Phone" type="text" name="phone" [(ngModel)]="billInfo.Phone">
                  </div>
                  <div class="form-group col-md-4">
                    <input class="form-control" placeholder="Aadhar" maxlength="12" type="text" name="aadhar" [(ngModel)]="billInfo.Aadhar">
                    <input class="form-control" maxlength="9" placeholder="Pan" type="text" name="pan" [(ngModel)]="billInfo.PanNumber">
                    <input class="form-control" maxlength="20" placeholder="GST NO" type="text" name="gstNo" [(ngModel)]="billInfo.GstNumber">
                  </div>
                  <div class="form-group col-md-4">
                    <textarea class="form-control" rows="3" placeholder="Address" name="address" [(ngModel)]="billInfo.Address"></textarea>
                    <input class="form-control" maxlength="20" placeholder="TIN NO" type="text" name="tinNo" [(ngModel)]="billInfo.TinNumber">
                    <input class="form-control" placeholder="balance" type="text" name="balance" [(ngModel)]="billInfo.Balance">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-11">
              <text-search (selectedItems)="selectedItems($event)"></text-search>
            </div>           
            <div class="form-group col-md-3">
              <input class="form-control" number-only maxlength="20" placeholder="Price" type="text" name="Price" [(ngModel)]="salesOrder.SalesPrice">
            </div>
            <div class="form-group col-md-3">
              <input class="form-control" number-only maxlength="10" [focus]="myFocusTriggeringEventEmitter" placeholder="Quantity" type="text"
                name="Quantity" [(ngModel)]="salesOrder.Quantity">
            </div>
            <div class="form-group col-md-3">
              <select (ngModelChange)="onUnitChange($event)" class="form-control" [(ngModel)]="salesOrder.UnitId" name="unit" placeholder="Unit">
                  <option *ngFor="let purchaseOrder of purchaseOrders" value= {{purchaseOrder.Unit.Id}}>
                    {{purchaseOrder.Unit.Description}}
                  </option>
                </select>
            </div>
            <div class="form-group col-md-3">
              <input class="btn btn-default" (click)="addItemToBill()" [disabled]="!salesOrder.PerUnitPrice||!salesOrder.Quantity||!salesOrder?.ProductId" type="button" name="button"
                value="Add" />
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-condensed">
              <tbody class="header">
                <tr>
                  <td class="item-index"><strong>No.</strong></td>
                  <td class="item-product"><strong>Product</strong></td>
                  <td class="text-center item-data"><strong>Price</strong></td>
                  <td class="text-center item-data"><strong>Quantity</strong></td>
                  <td class="text-center item-data"><strong>GST(%)</strong></td>
                  <td class="text-center item-data"><strong>CGST(<i class="fa fa-rupee"></i> )</strong></td>
                  <td class="text-center item-data"><strong>SGST(<i class="fa fa-rupee"></i> )</strong></td>
                  <td class="text-right"><strong>Taxable(<i class="fa fa-rupee"></i> )</strong></td>
                  <td class="text-right"><strong>Amount(<i class="fa fa-rupee"></i> )</strong></td>
                  <td class="text-center remove-icon"></td>
                </tr>
              </tbody>
            </table>
            <table class="table billing table-condensed">
              <tbody #scrollMe>
                <tr *ngFor="let item of billInfo.SalesOrders; let index = index;">
                  <td class="item-index">{{index+1}}</td>
                  <td class="item-product">{{item.ProductDescription}}</td>
                  <td class="text-center item-data" [style.color]="(item.PerUnitPrice<item.ActualPrice) ? 'red' : 'black'">
                    {{item.PerUnitPrice}}
                  </td>
                  <td class="text-center item-data">{{item.Quantity +' '+ item.Unit.Code}}</td>
                  <td class="text-center item-data">{{item.Cgst+item.Sgst}}</td>
                  <td class="text-center item-data">{{item.CgstAmount}}</td>
                  <td class="text-center item-data">{{item.SgstAmount}}</td>
                  <td class="text-right">{{item.TaxableAmout}}</td>
                  <td class="text-right">{{item.Amount}}</td>
                  <td class="text-center remove-icon"><i class="fa fa-times" (click)="removeBillItem(item)"></i></td>
                </tr>
                <tr>
                  <td class="item-index"></td>
                  <td class="item-product"></td>
                  <td class="text-center item-data"></td>
                  <td class="text-center item-data"></td>
                  <td class="text-center item-data"></td>
                  <td class="text-center item-data"></td>
                  <td class="text-center item-data"></td>
                  <td class="text-right">Gross:</td>
                  <td class="text-right"><i class="fa fa-rupee"></i> {{totalViewModel.totalWithOutTax}}</td>
                  <td class="text-center remove-icon"></td>
                </tr>
                <tr>
                  <td class="item-index">GST%</td>
                  <td class="item-product">CGST%</td>
                  <td class="text-center item-data">CGST Value(<i class="fa fa-rupee"></i>)</td>
                  <td class="text-center item-data">CGST TAX(<i class="fa fa-rupee"></i>)</td>
                  <td class="text-center item-data">SGST%</td>
                  <td class="text-center item-data">SGST Value(<i class="fa fa-rupee"></i>)</td>
                  <td class="text-center item-data">SGST TAX(<i class="fa fa-rupee"></i>)</td>
                  <td class="text-right">CGST</td>
                  <td class="text-right"><i class="fa fa-rupee"></i> {{totalViewModel.totalCgst}}</td>
                  <td class="text-center remove-icon"></td>
                </tr>
                <tr>
                  <td class="item-index">5%</td>
                  <td class="item-product">2.5%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.twoHalfCgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.twoHalfCgstTax)}}</td>
                  <td class="text-center item-data">2.5%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.twoHalfSgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.twoHalfSgstTax)}}</td>
                  <td class="text-right">SGST</td>
                  <td class="text-right"><i class="fa fa-rupee"></i> {{totalViewModel.totalSgst}}</td>
                  <td class="text-center remove-icon"></td>
                </tr>
                <tr>
                  <td class="item-index">12%</td>
                  <td class="item-product">6%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.sixCgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.sixCgstTax)}}</td>
                  <td class="text-center item-data">6%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.sixSgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.sixSgstTax)}}</td>
                  <td class="text-right">Total</td>
                  <td class="text-right"><i class="fa fa-rupee"></i> {{calculatorService.currencyRoundOff(totalViewModel.totalWithOutTax+totalViewModel.totalCgst+totalViewModel.totalSgst)}}</td>
                  <td class="text-center remove-icon"></td>
                </tr>
                <tr>
                  <td class="item-index">18%</td>
                  <td class="item-product">9%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.nineCgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.nineCgstTax)}}</td>
                  <td class="text-center item-data">9%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.nineSgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.nineSgstTax)}}</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-center remove-icon"></td>
                </tr>
                <tr>
                  <td class="item-index">28%</td>
                  <td class="item-product">14%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.fourteenCgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.fourteenCgstTax)}}</td>
                  <td class="text-center item-data">14%</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.fourteenSgstAmount)}}</td>
                  <td class="text-center item-data">{{calculatorService.currencyRoundOff(totalViewModel.fourteenSgstTax)}}</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-center remove-icon"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>