<div class="container">
  <div class="row">
    <input class='btn' type='button' value='Add' (click)="AddProduct()" />
    <input class='btn' type='button' value='Cancel' (click)="OnCancel()" [disabled]="(!isAdd && !isEdit)"/>
    <product-form-view *ngIf="isAdd||isEdit" [product]="product" (onSavedEvent)="onSavedEvent()"></product-form-view>
    <input type="text" class="form-control" [(ngModel)]="productSearchText" (keyup)="onProductSearch()" placeholder="search product"
    />
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Code</th>
          <th>Product</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <tr *ngFor="let product of currentPageItems | filterBy: {Description: productSearchText}" #row>
          <td>{{product.Id}}</td>
          <td>{{product.Code}}</td>
          <td>{{product.Description}}</td>
          <td>{{product.TamilName}}</td>
          <td>
            <input class='btn' type='button' (click)="onEdit(product)" value='Edit' />
            <input class='btn' type='button' (click)="onDelete(product)" value='Delete' />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row col-md-12" *ngIf="totalPageNumber?.length>1">
      <div class="col-md-5">
        <div>Showing {{((currentPageNumber-1)*pageSize)+1}} to {{currentPageNumber*pageSize>=products.length?products.length:currentPageNumber*pageSize}}
          of {{products.length}} entries</div>
      </div>
      <div class="col-md-7">
        <div>
          <ul class="pagination">
            <li class="first" [ngClass]="{'disabled': currentPageNumber===1}" (click)="onPageChange(1)">
              <a href="javascript:void(0);">First</a>
            </li>
            <li class="previous" [ngClass]="{'disabled': currentPageNumber===1}" (click)="onPageChange(currentPageNumber-1)">
              <a href="javascript:void(0);">Previous</a>
            </li>
            <li *ngFor="let number of totalPageNumber" [ngClass]="{'active': currentPageNumber===number}" (click)="onPageChange(number)">
              <a href="javascript:void(0);">{{number}}</a>
            </li>
            <li class="next" [ngClass]="{'disabled': currentPageNumber===totalPageNumber?.length}" (click)="onPageChange(currentPageNumber+1)">
              <a href="javascript:void(0);">Next</a>
            </li>
            <li class="last" [ngClass]="{'disabled': currentPageNumber===totalPageNumber?.length}" (click)="onPageChange(totalPageNumber?.length)">
              <a href="javascript:void(0);">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>